.body{
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, ul, li{
    margin: 0;
    padding: 0;
}
.header{
    background-color:black;
    height: 150px;
}  
.cotainer{
    width: 1440px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    margin: 61px 0px 58px;
}
span#txt_logo{
    padding: 0 15px;
}
.menu{
    display: inline-block;
}
ul.menu_items{
    padding: 0;
    margin: 62px 0px;
    display: flex;
    justify-content: space-between;
    gap: 53px;
}
.menu_item{
    display: inline-block;
    list-style: none;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 2px;
}
.Welcome {
    background-color: black;
    height: 810px;
    margin-bottom: 75px;
}
.main_block_img{
    position: relative;
}
.main_descr{
    color: #FFF;
    width: 598px;
    height: 388px;
    position: absolute;
    top: 301px;
    z-index: 1;
}
.main_descr .welcome_title{
    font-family: 'Forum', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.main_block_img{
    position: absolute;
    left: 680px;
}
.main_descr .subtitle{
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 25px;
}
.btn_welcome{
    width: 360px;
    height: 75px;
    border-radius: 10px;
    background: #710707;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_welcome span{
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
}
.main_block_slider{
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 600px;
    height: 120px;
    background: #030303;
    display: flex;
    justify-content: center;
    align-items:center;
}
.block_slider{
    width: 452px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.block_num_pages{
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}
.slider_position{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.slid_positon_item{
    width: 16px;
    height: 16px;
    background: #FFFFFF;
}
.slid_active_item{
    background: #D2B183;
}
.scroll_arrows{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.Visiting{
    margin-bottom: 75px;
}
.title{
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 75px;
}
.title_visiting{
    color: #9D8665;
}
.title_line{
    position: relative;
    padding-bottom: 30px;
}
.title_line::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color:#710707;
}
.wrap_block_cards{
    display: grid;
    grid-template-columns: 440px 440px 440px;
    grid-template-rows: 424px 424px;
    column-gap: 60px;
    row-gap: 75px;
}
.wrap_block_card{
    width: 440px;
    height: 424px;
}
.subtitle_card{
    padding-top: 22px;
    padding-bottom: 12px;
    color: #000;
    font-family: Forum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.subtitle_line{
    position: relative;
}
.subtitle_line::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 300px;
    height: 2px;
    background: #710707;
}
.descr_card{
    color: #909090;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: 8px;
}
.descr_card .descr_txt{
    font-size: 22px;
}
.descr_subtxt{
    margin-top: 10px;
    font-size: 18px;
}
.Explore{
    background-color:#030303;
    padding: 75px 0px;
    margin-bottom: 75px;
}
.explore_block{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.title_explore{
    position: relative;
    color: #FFF;
    font-family: Forum;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.title_explore::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -28px;
    width: 100%;
    height: 2px;
    background: #710707;
}
.descr_explore{
    padding-top: 30px;
    width: 660px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.5px;
}
.descr_explore .descr_txt{
    margin-bottom: 25px;
}
.descr_txt span{
    color: #CAAA7D;
}
.explore_img{
    margin-top: 15px;
    position: relative;
    width: 100%;
}
.explore_img::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 61%;
    height: 700px;
    background-color:#CAAA7D;
    opacity: 0.3;
}
.explore_img .explore_slider{
    position: absolute;
    top: 0;
    left: 0;
    left: 58.6%;
}